.square {
    width: 20px;
    height: 20px;
    background-color: rgb(0, 183, 255);
    border: black 4px solid;
}

.expended {
    animation-duration: 1s;
    animation-name: expend;
    animation-fill-mode: forwards;
}

.recharge {
    animation-duration: 1s;
    animation-name: expend;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes expend {
    from {
        background-color: rgb(0, 183, 255);
    }
    to {
        background-color: #fff;
    }
}
