button {
  border: none;
  border-radius: .5rem;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: unit-rounded, sans-serif;
  padding: .5vh 1vw;
}

a {
  border: none;
  border-radius: .5rem;
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: unit-rounded, sans-serif;
  padding: .5vh 1vw;
}

.landing-page-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 10vw 80vw 10vw;
}

.spellbook-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 10vw 80vw 10vw;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin: auto;
  font-family: "Germania One", cursive;
  color: rgb(0, 0, 0);
}

.words {
  font-family: unit-rounded, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
}

.start-btn {
  border: solid 2px rgb(21, 179, 21);
  padding: 5px;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: rgb(31, 255, 31);
  color: rgb(255, 255, 255);
  align-self: center;
}

/* animations */

@keyframes fadeOut {
  from {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

/* end animations */

.fade-out {
  animation-duration: 1s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

.fade-in {
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.hidden {
  display: none;
}

.op-1 {
  opacity: 1;
  transition: opacity 1s;
}

.op-0 {
  opacity: 0;
}

/*  LOGIN/SIGNUP COMPONENTS */

.form-signin {
  max-width: 330px;
  margin: 0 auto;
  width: 100%;
}

.login-container {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-input {
  display: block;
  width: 100%;
}

/* CHARACTERS PAGE */

.character-group{
  background-color: lightgray;
  border: silver solid;
  border-radius: 0.5em;
}