.hamburger-menu{
    height: 100vh;
    z-index: 1;
    background-color: rgb(92, 92, 92);
}

.search-bar{
    margin-left: 25px;
    margin-right: 25px;
    width: 100%;
    margin-bottom: 10px;
}

.hide{
    display: none;
}
